<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #B57EDC;">
    <form method="POST" name="lyric_maker" action= "/lyrics/">
      {% if error %}
      <p style="color:red">This is not right </p>
      {% endif %}
        <h1><center> Choose an artist and 6+ songs</center></h1>
        <p> Please enter an artist you would like to generate an original verse for:</p>
        <p><b>Artist:</b><input style="width:350px;" type="text" name="artist_name" 
            placeholder="J Cole, Kendrick Lamar, Joey Bada$$">
        </p>
        <p>Please enter in 6 songs seperated by commas you would like to base the lyrics off of:</p>
        <p> <b>Songs:</b> <input style="width:350px;"type="text" name="song_list" 
            placeholder="1984, Alright, For my people">
        </p>
        <p>
            <input type="submit" value="submit">
        </p>
    </form>
</body>
</html>



