<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>Type Lyrics</title>
  <style>
  .topnav {
    overflow: hidden
    background-color: #333;
  }
  .topnav a {
  float: center;
  display: block;
  color: black;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  }
.topnav a:hover {
  background-color: #ddd;
  color: black;
  }
  </style>
  </head>
  <body>
    <h1 style="color: black; text-align: center;">Amazing lyric generating applicaiton for all your creative needs</h1>
    <div class="topnav">
      <a href="hello">Howdy</a>
      <b><a href="lyrics">Generate lyrics</a></b>
      <a href="whythis">Why this project</a>
    </div> 
  </body>
</html>
