<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    I made this project in order to continue to explore NLP as a concept and also play with the possibiliies predictive analytics.
    I think that in order to improve upon this applicaiton I would need to clean up the UI and implement a deep learning process so that the model understands grammar better. Implementing some degree of song structure would also assist in the quality of the project.
</body>
</html>